gcr.io/k8s-minikube/kicbase:v0.0.39
docker.elastic.co/beats/elastic-agent:{{ stack_version }}
docker.elastic.co/elastic-security/elastic-sec-attendant:{{ stack_version }}
docker.elastic.co/elastic-security/elastic-sec-endpoint:{{ stack_version }}
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-accountingservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-adservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-cartservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-checkoutservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-currencyservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-emailservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-featureflagservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-frauddetectionservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-frontend
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-frontendproxy
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-kafka
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-loadgenerator
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-paymentservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-productcatalogservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-quoteservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-recommendationservice
ghcr.io/open-telemetry/demo:{{ otel_demo_version }}-shippingservice
otel/opentelemetry-collector-contrib:0.77.0
postgres:14
redis:alpine
registry.k8s.io/coredns/coredns:v1.9.3
registry.k8s.io/etcd:3.5.6-0
registry.k8s.io/kube-apiserver:v1.26.1
registry.k8s.io/kube-controller-manager:v1.26.1
registry.k8s.io/kube-proxy:v1.26.1
registry.k8s.io/kube-scheduler:v1.26.1
elswork/theia:1.0.1